<%= turbo_frame_tag dom_id(@task) do  %>
  <div class="flex gap-4 items-start">
    <div class="flex-none" >
      <input type="checkbox"
              data-action="task#updateStatus"
              data-task-target="complete"
              data-task-list-value="<%= @list.id %>"
              data-task-task-value="<%= @task.id %>"
              <% if @task.complete? %> checked <% end %> >
    </div>
    <div class="flex-1"><%= @task.description %></div>
    <div class="flex">
      <span class="text-sm">
        <%= link_to "Edit", edit_list_task_path(@list, @task) %>
      </span>
      <span class="text-sm ml-2">
        <%= button_to "Delete",
              list_task_path(@list, @task),
              method: :delete,
              class: 'text-red-500 hover:text-red-600 text-sm underline hover:no-underline',
              form: { data: { turbo_confirm: "Are you sure?" }  }%>
      </span>
    </div>
  </div>
<% end %>
